<h1>Session#create <%= @result %><%= session[:username] %></h1>
<p>Find me in app/views/session/create.html.erb</p>
<p>Click to log out! <%= link_to "Log Out", logout_path %></p>
<p>New user? <%= link_to "Go to Live Questions", liveQuestions_path %></p>