<html>
  <head>
    <title>Posting System</title>
    <%= stylesheet_link_tag "scaffold" , :media => "all" %>
  </head>
  <body>
    <a href="/system"><div id="banner" >
      <b><%= @page_title || "Posting System" %></b>
    </div></a>
    <div id="main" >
      <%= yield %>
    </div>
   </body>
 </html>